/*FetchingComponents */

.filter-rover,
.filter-sol,
.fetch-submit-btn {
  letter-spacing: 1px;
  height: 30px;
  margin: 0 5px;
  border: none;
  background-color: rgba(225, 225, 225, 0.75);
  border-bottom: 2px solid #000;
}

.filter-rover {
  min-width: 136px;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-left: 12px;
  padding: 1px 2px;
  background-image: url("../assets/imgs/download.png");
  background-position-x: 95%;
  background-position-y: 55%;
  background-repeat: no-repeat;
}

.filter-sol {
  width: 125px;
  padding: 0 5px;
}

.fetch-submit-btn {
  width: 45px;
}

/* Cams Filter */

.filter-selector {
  min-width: 95px;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-left: 12px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 0 2px;
  background-image: url("../assets/imgs/download.png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.filter-selector:hover,
.filter-rover:hover,
.filter-sol:hover {
  cursor: pointer;
}


/* Photo Item */

.photo-hover-layer {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.photo-id-text {
  font-family: 'ImpactLabel', sans-serif;
  font-size: 20px;
}

.photo-hover-link {
  font-weight: bolder;
  color: cornsilk;
  font-family: 'Opinio', sans-serif;
  font-size: 19px;
  letter-spacing: 0.5px;
}

.photo-hover-link:hover {
  text-decoration: underline;
}

/* Items */

.item-container {
  width: 100%;
  height: 100vh;
}

.item-nav-bar {
  width: 100%;
  height: 45px;
}

.item-info-container {
  width: 100%;
  height: 100%;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.right img {
 max-width: 100%;
}

.items-detail-container {
  width: 100%;
  height: calc(100% - 40px);
}
