/*FetchingComponents */

.filter-rover,
.filter-sol,
.fetch-submit-btn {
  height: 40px;
}

/* Photo Item */

.photo-hover-layer {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-hover-link {
  font-weight: bolder;
  color: cornsilk;
}

.photo-hover-link:hover {
  text-decoration: underline;
}
